#s-06cd918c-3ba4-4741-adf3-6b41e92cf80b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06cd918c-3ba4-4741-adf3-6b41e92cf80b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-06cd918c-3ba4-4741-adf3-6b41e92cf80b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-06cd918c-3ba4-4741-adf3-6b41e92cf80b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}