#s-1f97964c-5f6e-4a51-8a33-3da9f11be5f1 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f97964c-5f6e-4a51-8a33-3da9f11be5f1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f97964c-5f6e-4a51-8a33-3da9f11be5f1 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1f97964c-5f6e-4a51-8a33-3da9f11be5f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}