#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_1 {
  position: absolute;
  width: 246px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_2 {
  position: absolute;
  width: 246px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_3 {
  position: absolute;
  width: 246px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_4 {
  position: absolute;
  width: 246px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e27054cd-0a9b-4db8-b3c0-3280fee8b054 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}