#s-f9da35b9-b444-4e1f-b44e-3263c3bf9b12 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9da35b9-b444-4e1f-b44e-3263c3bf9b12 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9da35b9-b444-4e1f-b44e-3263c3bf9b12 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9da35b9-b444-4e1f-b44e-3263c3bf9b12 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9da35b9-b444-4e1f-b44e-3263c3bf9b12 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f9da35b9-b444-4e1f-b44e-3263c3bf9b12 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}